.banner {
  background-color: #a00e0e;
  height: 50px;
  width: 100%;
}

.banner img {
  width: 995px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: block;
}

.menu {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


#menuRowOne {
  height: 60px;
  width: 80%;
  margin-top: 5px;
  margin-left: 100px;
  margin-right: auto;
}

#logo {
  height: 50px;
  width: auto;
}

#signIn, #bagText {
  font-weight: bold;
  font-size: 12px;
  margin-top: 10px;
}

#bagText {
  display: inline;
}

#searchBar {
  width: 100%;
  margin-top: 7px;
}

#buttonHolder {
  float: left;
  height: 17px;
  
}

#bag {
  height: 27px;
  width: auto;
  margin-top: 7px;

}

#tableMenuButtons {
  text-align: center;
  table-layout: auto;
  width: 100%;
  font-weight: bold;
  margin-left: 80px;
  margin-right: auto;
  padding: auto;
}

#tableMenuButtons td {
  width: 10%;
  position: relative;
}

.dropdownContent {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent ul {
  list-style-type: none;
  padding-left: 10px;
  text-align: left;
  font-weight: lighter;
}

.dropdownContent a {
  color: black;
  font-size: 12px;
}