<div class="header">
  <div class="banner">
    <img src="../assets/img/header.png" id="headerImg" alt="banner">
  </div>
  <div class="menu">
    <div class="row" id="menuRowOne">
      <div class="col-3">

        <img src="../assets/img/logo.png" alt="logo" id="logo">
      </div>
      <div class="col-4">
        <input type="text" placeholder="Search by item # or keyword" id="searchBar">
      </div>
      <div class="col-2">
        <div id="signIn">SIGN IN / CREATE</div>
      </div>
      <div class="col-3">
        <div id="bagText">BAG</div>
        <img src="../assets/img/bag.png" alt="shoppingBag" id="bag">
      </div>
    </div>
    <div id="menuButtons">
      <table id="tableMenuButtons">
        <tr>
          <td>MEN</td>
          <td>WOMEN</td>
          <td>OUTERWEAR</td>
          <td>SHOES</td>
          <td>HOME</td>
          <td>BAGS & GEAR</td>
          <td>SALE</td>
          <td>CLEARANCE</td>
          <td>GUIDE TO EB</td>
        </tr>
      </table>
    </div>
  </div>
</div>