.banner {
  background-color: #a00e0e;
  height: 50px;
  width: 100%;
}

.banner img {
  width: 995px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: block;
}

#tableMenuButtons {
  table-layout: auto;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 14px;
}
