.banner {
  background-color: #a00e0e;
  height: 50px;
  width: 100%;
}

.banner img {
  width: 995px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: block;
}

.menu {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#menuRowOne {
  height: 60px;
  width: 80%;
  margin-top: 5px;
  margin-left: 15%;
  margin-right: auto;
}

#logo {
  height: 50px;
  width: auto;
}

#signIn, #bagText {
  font-weight: bold;
  font-size: 12px;
  margin-top: 10px;
}

#bagText {
  display: inline;
}

#searchBar {
  width: 100%;
  margin-top: 7px;
}

#buttonHolder {
  float: left;
  height: 17px;
  
}

#bag {
  height: 27px;
  width: auto;
  margin-top: 7px;

}


#tableMenuButtons {
  table-layout: auto;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 14px;
}

