<div class="header">
  <div class="banner">
    <img src="../assets/img/header.png" id="headerImg" alt="banner">
  </div>
  <div class="menu">
    <div class="row" id="menuRowOne">
      <div class="col-3">

        <img src="../assets/img/logo.png" alt="logo" id="logo">
      </div>
      <div class="col-4">
        <input type="text" placeholder="Search by item # or keyword" id="searchBar">
      </div>
      <div class="col-2">
        <div id="signIn">SIGN IN / CREATE</div>
      </div>
      <div class="col-3">
        <div id="bagText">BAG</div>
        <img src="../assets/img/bag.png" alt="shoppingBag" id="bag">
      </div>
    </div>
    <div id="menuButtons">
      <table id="tableMenuButtons">
        <tr>
          <div class="dropdown">
            <td (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">MEN
              <div *ngIf="mouseover" id="dropdownMen">
                <p>Shop by Category</p>
                <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                </ul>
              </div>
            </td>
          </div>
          <div class="dropdown">
            <td (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">WOMEN
              <div *ngIf="mouseover" id="dropdownWomen">
                <p>Shop by Category</p>
                <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                </ul>
              </div>
            </td>
          </div>
          <div class="dropdown">
            <td (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">OUTERWEAR
              <div *ngIf="mouseover" id="dropdownWomen">
                <p>Shop by Category</p>
                <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                </ul>
              </div>
            </td>
          </div>
          <div class="dropdown">
            <td (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">SHOES
              <div *ngIf="mouseover" id="dropdownWomen">
                <p>Shop by Category</p>
                <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                </ul>
              </div>
            </td>
          </div>
          <div class="dropdown">
            <td (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">HOME
              <div *ngIf="mouseover" id="dropdownWomen">
                <p>Shop by Category</p>
                <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                </ul>
              </div>
            </td>
          </div>
          <div class="dropdown">
            <td (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">BAGS & GEAR
              <div *ngIf="mouseover" id="dropdownWomen">
                <p>Shop by Category</p>
                <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                </ul>
              </div>
            </td>
          </div>
          <div class="dropdown">
            <td (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">SALE
              <div *ngIf="mouseover" id="dropdownWomen">
                <p>Shop by Category</p>
                <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                </ul>
              </div>
            </td>
          </div>
          <div class="dropdown">
            <td (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">CLEARANCE
              <div *ngIf="mouseover" id="dropdownWomen">
                <p>Shop by Category</p>
                <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                </ul>
              </div>
            </td>
          </div>
          <div class="dropdown">
            <td (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">GUIDE TO EB
              <div *ngIf="mouseover" id="dropdownWomen">
                <p>Shop by Category</p>
                <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                </ul>
              </div>
            </td>
          </div>
        </tr>
      </table>
    </div>
  </div>
</div>