<div class="header">
  <div class="banner">
    <img src="../assets/img/header.png" id="headerImg" alt="banner">
  </div>
  <div class="menu">
    <div id="logo">
      <img src="../assets/img/logo.png" alt="logo">
    </div>
    <div id="searchBar">
      <input type="text" placeholder="Search by item # or keyword">
    </div>
    <div id="signIn">
      <p>SIGN IN / CREATE</p>
    </div>
    <div id="bag">
      <img src="../assets/img/bag.png" alt="shoppingBag">
    </div>
    <div id="menuButtons">
      <table id="tableMenuButtons">
        <tr>
          <td>MEN</td>
          <td>WOMEN</td>
          <td>OUTERWEAR</td>
          <td>SHOES</td>
          <td>HOME</td>
          <td>BAGS & GEAR</td>
          <td>SALE</td>
          <td>CLEARANCE</td>
          <td>GUIDE TO EB</td>
        </tr>
      </table>
    </div>
  </div>
</div>