<hr>

<div id="socialMediaHeader">
    <h4>#LiveYourAdventure | @EddieBauer</h4>
  </div>
  <div class="row" id="socialMediaImg">
    <div class="col-3">
      <a href="https://www.instagram.com/eddiebauer/">
        <img src="../assets/img/ig.jpg" alt="instagram">
      </a>
    </div>
    <div class="col-3">
      <a href="https://www.facebook.com/EddieBauer/">
        <img src="../assets/img/fb.jpg" alt="facebook">
      </a>
    </div>
    <div class="col-3">
      <a href="https://www.youtube.com/eddiebauer">
        <img src="../assets/img/yt.jpg" alt="youtube">
      </a>
    </div>
    <div class="col-3">
      <a href="https://www.pinterest.com/eddiebauer/">
        <img src="../assets/img/pin.jpg" alt="pinterest" id="pinterest">
      </a>
    </div>
  </div>
  