<div id="winterDealsHeader">
  <h2>END OF SEASON DEALS ON</h2>
  <h2>WEAR-NOW WINTER ESSENTIALS</h2>
  <H6>Stock up on the performance styles you need for every adventure.</H6>
</div>
<div class="row" id="winterSale">
  <div class="col-4">
    <img src="../assets/img/winter1.jpg" alt="winter1">
  </div>
  <div class="col-4">
      <img src="../assets/img/winter2.jpg" alt="winter1">
  </div>
  <div class="col-4">
      <img src="../assets/img/winter3.jpg" alt="winter1">
  </div>
</div>
<div class="row" id="winterSaleText">
  <div class="col-4">
    <h4>PARKAS & JACKETS</h4>
    <br>
    <div class="row">
        <div class="leftBox"><a routerLink="MEN">SHOP MEN</a></div>
        <div class="rightBox"><a routerLink="WOMEN">SHOP WOMEN</a></div>
    </div>
  </div>
  <div class="col-4">
      <h4>FLEECE</h4>
      <br>
    <div class="row">
        <div class="leftBox"><a routerLink="MEN">SHOP MEN</a></div>
        <div class="rightBox"><a routerLink="WOMEN">SHOP WOMEN</a></div>
    </div>
  </div>
  <div class="col-4">
      <h4>COLD-WEATHER ACCESSORIES</h4>
      <br>
    <div class="row">
        <div class="leftBox"><a routerLink="WOMEN">SHOP WOMEN</a></div>
        <div class="rightBox"><a routerLink="MEN">SHOP MEN</a></div>
    </div>
  </div>
</div>
<hr id="winterHr">