<!-- (productToDisplay | async)?. -->
<div class="row">
  <div class="col-md">
    <img class="mainImg" src="{{(productToDisplay | async)?.image[colorToDisplay]}}">
  </div>
  <div class="col-md">
    <h3>{{(productToDisplay | async)?.title}}</h3>
    <h3><span class="oprice">
        {{(productToDisplay | async)?.oPrice | currency}}
      </span>
      <span class="nprice">
        {{(productToDisplay | async)?.oPrice*.80 | currency}}
      </span>
    </h3>
    <div class="grid-container">
      <div class="grid-item">
        <p><b>Color: </b>{{(productToDisplay | async)?.colors[colorToDisplay][0]}}</p>
      </div>
      <div class="grid-item">
        <img class="colorImg" src="{{(productToDisplay | async)?.colors[0][1]}}" (click)="clickColor(0)">
        <img class="colorImg" src="{{(productToDisplay | async)?.colors[1][1]}}" (click)="clickColor(1)">
        <img class="colorImg" src="{{(productToDisplay | async)?.colors[2][1]}}" (click)="clickColor(2)">
      </div>
    </div>

  </div>
</div>
<div class="description">
  <h6>
    PRODUCT DETAILS: 
  </h6>
  <P>
    {{(productToDisplay | async)?.description}}
  </P>
</div>